<!--Header-->
<header class="header">
    <input type="checkbox" id="check">
                <label class="checkbtn" for="check">
                    <i class="fas fa-bars"></i>
                </label>
    <div class="container">
        
        <div class="row">
            <div class="col-lg-4  col-md-dn">
                <div class="logo">
                    <a href="#">
                        <img src="assets/img/Logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="nav align-middle">
                    <a href="#" class="nav__link">Home</a>
                    <a href="#" class="nav__link">About Us</a>
                    <a href="#" class="nav__link">How it works</a>
                    <a href="#" class="nav__link">Contact Us</a>
                </div><!--/.nav-->
            </div>
        </div><!--/.row-->
        
    </div><!--/.container-->
</header><!--/.header-->